@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@media (max-width: 768px) {
.hobby {
    flex-direction: column;
  }
}

body{
    background-color: blanchedalmond;
    color: #0f141e;
    font-weight: normal;
    font-family: "Roboto", serif;
}

.wrapper {
    min-height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}
.content { 
    flex: 1 1 auto;
}
.container {
    max-width: 1400px;
    width: 100%; 
    margin: 0 auto;
    padding: 0 15px; 
}
.hi {
    display: flex;
    justify-content: space-between;
    background-color: rgb(255, 229, 191);
}
.hi__row {
    display: flex;
    padding: 50px 0px;
    justify-content: space-between;
    background-color: rgb(255, 229, 191);
}
.hi__body {
    color: rgb(100, 78, 44);
    padding: 0px 30px 0px 0px;
}
.hi__title {
    font-size: 60px;
    text-shadow: 1px 1px 0 rgba(0,0,0,0.3);
    margin: 0px 0px 60px 0px;
}
.hi__text {
   
}
.hi__text li0{
    background: url(../flexbox/Не\ подтверждено) 0 1px no-repeat;
    list-style-type:none;
    text-shadow: 1px 1px 0 rgba(0,0,0,0.3);
    font-size: 22px;
    padding: 0px 0px 0px 36px;
    margin: 15px 0px;
    color:  rgb(182, 141, 79);
}
.hi__text li{
    background: url(../flexbox/missing-image.png) 0 1px no-repeat;
    list-style-type:none;
    text-shadow: 1px 1px 0 rgba(0,0,0,0.3);
    font-size: 22px;
    padding: 0px 0px 0px 36px;
    margin: 15px 0px;
    color:  rgb(182, 141, 79);
}
.hi_img:hover {
    scale: 130%;
}
.footer {
    background-color: rgb(255, 229, 191);
}
.footer__row {
    display: flex;
    height: 70px;
    justify-content: center;
    align-items: center;
}
.footer__text {
    font-size: 16px;
    letter-spacing: 0.3;
    color: rgb(156, 103, 42);
}
.hobby {
    display: flex;
    justify-content: space-between; 
    flex-wrap: wrap;
    gap: 20px;
    flex: 1 1 auto;
}
.hobby__item1 {
    display: flex;
    flex-direction: column; 
    align-items: center;    
    max-width: 200px; 
}
.hobby__item2 {
    display: flex;
    flex-direction: column; 
    align-items: center;    
    max-width: 200px; 
}
.hobby__item3 {
    display: flex;
    flex-direction: column; 
    align-items: center;    
    max-width: 200px; 
}
.hobby__item4 {
    display: flex;
    flex-direction: column; 
    align-items: center;    
    max-width: 200px; 
}
.hobby__item1 img{
    max-width: 100%;
}
.hobby__item2 img{
    max-width: 100%;
}
.hobby__item3 img{
    max-width: 100%;
}
.hobby__item4 img{
    max-width: 100%;
}
.hobby__item1 img:hover{
    scale: 120%;
}
.hobby__item2 img:hover{
    scale: 120%;
}
.hobby__item3 img:hover{
    scale: 120%;
}
.hobby__item4 img:hover{
    scale: 120%;
}
.about__img:hover{
    scale: 101%;
}
.hobby__body {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    flex: 1 1 auto;
    gap: 40px    ;
}
.hobby__title {
    font-size: 30px;
    text-shadow: 1px 1px 0 rgba(0,0,0,0.3);
    margin: 30px 0px 60px 0px;
    color:  rgb(134, 104, 58);
    row-gap: 100px;
    
}
.hobby__text {
    list-style-type: none;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.3);
    font-size: 16px;
    margin: 10px 0px;
    color:  rgb(133, 102, 57);
    flex: 1 1 auto;
    text-align: center;
    
}
.about {
    display: flex;
    background-color: rgb(255, 229, 191);
    flex-direction: row ;
    flex-wrap: wrap;
    align-items: center;
}
.about__row {
    display: flex;
    padding: 50px 0px;
    justify-content: space-between;
    background-color: rgb(255, 229, 191);
    gap: 20px;
}
.about__me {
    display: flex;
    justify-content: ;
    flex-wrap: wrap;
    gap: 20px;
    flex: 1 1 auto;
}
.about__title {
    font-size: 30px;
    text-shadow: 1px 1px 0 rgba(0,0,0,0.3);
    margin: 30px 0px 60px 0px;
    color:  rgb(134, 104, 58);
    row-gap: 100px;
}
.about__img {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex: 1 1 auto;
}
.about__text {
    list-style-type: none;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.3);
    font-size: 16px;
    margin: 10px 0px;
    color:  rgb(133, 102, 57);
    flex: 1 1 auto;
    
}


